/*
 * File Name: style.css
 * Authors: Timothy Roush & Jeff Pratt
 * Date Created: 5/27/17
 * Assignment: Final Budget App
 * Description:  All CSS styles for this site
 */

body {
  padding-top: 70px;
}

.big-lbl {
  height: 25px;
}

.help-block {
  font-size: 0.8em;
}

.login-cont {
  background-color: white;
}

.panel {
  border-radius: 10px;
}

.panel-heading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.panel-heading a:hover {
  font-weight: 700;
  text-decoration: none;
}

.table {
  margin-bottom: 0px !important;
}

tr:first-child td{
  border-top: 0px !important;
}



