/*
 * File Name: style.css
 * Authors: Timothy Roush & Jeff Pratt
 * Date Created: 5/27/17
 * Assignment: Final Budget App
 * Description:  All CSS styles for this site
 */

body {
  padding-top: 50px;
}

.login-cont{
  background-color:white;
}

.big-lbl {
        height: 25px;
}

